#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
Visual\ Stucio*
*.lastbuildstate
*.tlog
*.manifest
*.bak
*.obj
*.opensdf
*.user
*.[Oo]bj
*.aps
*.pch
*.vspscc
*.vssscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.idb
*.exp
*.ilk
*.sbr
*.sdf
ipch/
obj/

#Project files
[Bb]uild/

# Office Temp Files
~$*
docs/~$*
docs/._*

[Ll]og
# *.pdb
